mat-card {
  width: 70%;
  max-width: 40rem;
  margin: 1rem auto;
  border-bottom: 1px solid rgb(185, 183, 183);
  cursor: pointer;
  position: relative;
}

.edit-author-info {
  position: absolute;
  right: 0rem;
  bottom: 0.5rem;
}

.author-creator {
  margin: 1rem auto;
  width: 70%;
  max-width: 40rem;
  text-align: center;
}

button {
  margin: 0.5rem;
}

.mat-form-field {
  margin-right: 1rem;
}

label {
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, .77);
}