<h1 mat-headline-1>Add New Book</h1>
<form [formGroup]="newBookForm">
  <mat-form-field>
    <mat-label>Book Title</mat-label>
    <input matInput placeholder="book title" formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Author</mat-label>
    <mat-select formControlName="author">
      <mat-option *ngFor="let author of authorList" [value]="author.id">
        {{ author.name + ' ' + author.surname }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Book description..." rows="4" formControlName="description">
    </textarea>
  </mat-form-field>

  <mat-form-field class="pages-number">
    <mat-label>Number of Pages</mat-label>
    <input matInput formControlName="pages" type="number" min="1">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select formControlName="language">
      <mat-option *ngFor="let language of languageOptions" [value]="language">{{ language }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Book Genre</mat-label>
    <input matInput placeholder="genre name" formControlName="genre">
  </mat-form-field>

  <button mat-raised-button [disabled]="submitButtonDisabled" (click)="addNewBook()">Submit</button>
</form>