form {
  margin: 1rem auto;
  width: 70%;
  max-width: 40rem;
}

mat-form-field {
  margin-right: 1rem;
}

.pages-number {
  width: 3rem;
}

label {
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, .77);
}

.title-input {
  width: 20rem;
}